[submodule "Arachne/vendor/spdlog"]
	path = Arachne/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Arachne/vendor/GLFW"]
	path = Arachne/vendor/GLFW
	url = https://github.com/glfw/glfw.git
